.theme-loader
    .ball-scale
        .contain
            .ring.frame
            .ring.frame
            .ring.frame
            .ring.frame
            .ring.frame
            .ring.frame
            .ring.frame
            .ring.frame
            .ring.frame
            .ring.frame