extends layout 
block content
    div(id="pcoded" class="pcoded")
        .pcoded-overlay-box
        div(class="pcoded-container navbar-wrapper")
            include components/navbar.pug
            .pcoded-main-container
                .pcoded-wrapper
                    include components/sidebar.pug
                    .pcoded-content
                        .pcoded-inner-content
                            .main-body#clientesView
                                .page-wrapper
                                    .page-body
                                        .row 
                                            .col-12
                                                .card
                                                    .card-header
                                                        h4 Clientes activos
                                                    .card-block.table-border-style
                                                        .col-12
                                                            .table-responsive
                                                                table.table(id="tblData")
                                                                    thead
                                                                        tr
                                                                            th Nombre Completo
                                                                            th Dirección
                                                                    tbody
                                                                        tr(v-for="(cliente, index) in clientes")
                                                                            td {{cliente.name}}
                                                                            td {{cliente.direccion}}
                                                                            td 
                                                                                a(:href=" '/cliente/actualizar/' + cliente.clienteId ")
                                                                                    button.btn.bg-primary(title="Actualizar los datos del cliente" data-toggle="tooltip")
                                                                                        i.ti-pencil
                                                                       
                                                                        
block scripts
    //- am chart 
    script(src="/vendors/assets/pages/widget/amchart/amcharts.min.js")
    script(src="/vendors/assets/pages/widget/amchart/serial.min.js")
    //- Todo js
    script(src="/vendors/assets/pages/todo/todo.js")
    //- Custom js
    script(src="/vendors/assets/pages/dashboard/custom-dashboard.js")
    script(src="/vendors/assets/js/script.js")
    script(src="/vendors/assets/js/SmoothScroll.js")
    script(src="/vendors/assets/js/pcoded.min.js")
    script(src="/vendors/assets/js/demo-12.js")
    script(src="/vendors/assets/js/jquery.mCustomScrollbar.concat.min.js")
    script(src="/javascripts/dashboard.js")
    script(src="/javascripts/cliente.js") 
     //- SwEET ALERT
    script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11")

    //- VueJS Moduls
    script(src="https://cdn.jsdelivr.net/npm/vue@2.7.13/dist/vue.js")
    script(src="/javascripts/clientes.js") 
    