extends layout 
block content
    div(id="pcoded" class="pcoded")
        .pcoded-overlay-box
        div(class="pcoded-container navbar-wrapper")
            include components/navbar.pug
            .pcoded-main-container
                .pcoded-wrapper
                    include components/sidebar.pug
                    .pcoded-content
                        .pcoded-inner-content
                            .main-body#VueApp
                                .page-wrapper
                                    .page-body
                                        .col-md-12
                                            .card#empleadoRegister
                                                .card-header
                                                    .container.text-left
                                                        h3 Registro de empleados <span> Datos personales del empleado
                                                .card-block(style="padding-bottom: 0% !important")
                                                    .container.text-center
                                                        .row
                                                            .col-12.col-sm-6.col-lg-4
                                                                .input-group
                                                                    span(class="input-group-addon")
                                                                        i(class="ti-user")
                                                                    input(type="text" class="form-control" placeholder="Nombre" title="Nombre del epleado" data-toggle="tooltip" v-model="name")
                                                            .col-12.col-sm-6.col-lg-4
                                                                .input-group
                                                                    span(class="input-group-addon")
                                                                        i(class="ti-user")
                                                                    input(type="text" class="form-control" placeholder="Apellido paterno" title="Apellido paterno" data-toggle="tooltip" v-model="fatherLastName")
                                                            .col-12.col-sm-6.col-lg-4
                                                                .input-group
                                                                    span(class="input-group-addon")
                                                                        i(class="ti-user")
                                                                    input(type="text" class="form-control" placeholder="Apellido materno" title="Apellido materno" data-toggle="tooltip" v-model="motherLastName")
                                                            .col-12.col-sm-6.col-lg-4
                                                                .input-group
                                                                    span(class="input-group-addon")
                                                                        i(class="ti-bag")
                                                                    input(type="text" class="form-control" placeholder="RFC" title="RFC" data-toggle="tooltip" v-model="rfc")
                                                            .col-12.col-sm-6.col-lg-4
                                                                .input-group
                                                                    span(class="input-group-addon")
                                                                        i(class="ti-bag")                               
                                                                    input(type="text" class="form-control" placeholder="CURP" title="CURP" data-toggle="tooltip" v-model="curp")
                                                            .col-12.col-sm-6.col-lg-4
                                                                .input-group
                                                                    span(class="input-group-addon")
                                                                        i(class="ti-bag")
                                                                    input(type="text" class="form-control" placeholder="Numero de seguro social" title="Número de seguro social" data-toggle="tooltip" v-model="numeroSeguroSocial")
                                                            .col-12.col-sm-6.col-lg-4
                                                                .input-group
                                                                    span(class="input-group-addon")
                                                                        i(class="ti-user")
                                                                    select(class="form-control" title="Estado civíl" data-toggle="tooltip" v-model="estadoCivil")
                                                                        option(value="Soltero") Soltero
                                                                        option(value="Casado") Casado
                                                                        option(value="Divorciado") Divorciado
                                                                        option(value="EnProceso") Separación en proceso judicial
                                                                        option(value="Viudo") Viudo
                                                                        option(value="Concubinato") Concubinato  
                                                            .col-12.col-sm-6.col-lg-4
                                                                .input-group
                                                                    span(class="input-group-addon")
                                                                        i(class="ti-user")
                                                                    select(class="form-control" title="Sexo" data-toggle="tooltip" v-model="sexo")
                                                                        option(value="H") Hombre
                                                                        option(value="M") Mujer  
                                                            .col-12.col-sm-6.col-lg-4
                                                                .input-group
                                                                    span(class="input-group-addon")
                                                                        i(class="ti-email")
                                                                    input(type="text" class="form-control" placeholder="Correo electrónico" title="Correo electrónico" data-toggle="tooltip" v-model="email")
                                                            .col-12.col-sm-6.col-lg-4
                                                                .input-group
                                                                    span(class="input-group-addon")
                                                                        i(class="ti-mobile")
                                                                    input(type="text" class="form-control" placeholder="Número telefónico" title="Número telefónico" data-toggle="tooltip" v-model="phoneNumber")
                                                            .col-12.col-sm-6.col-lg-4
                                                                .input-group
                                                                    span(class="input-group-addon")
                                                                        i(class="ti-calendar")
                                                                    input(type="text" class="form-control" placeholder="Fecha de nacimiento" title="Fecha de nacimiento" data-toggle="tooltip" v-model="fechaContratacion" onfocus="(this.type='date')" onblur="(this.type='text')")
                                                            .col-12.col-sm-6.col-lg-4
                                                                .input-group
                                                                    span(class="input-group-addon")
                                                                        i(class="ti-calendar")
                                                                    input(type="text" class="form-control" placeholder="Fecha de contratación" title="Fecha de contratación" data-toggle="tooltip" v-model="fechaNacimiento" onfocus="(this.type='date')" onblur="(this.type='text')")
                                                            .col-12.col-sm-6.col-lg-4
                                                                .input-group
                                                                    span(class="input-group-addon")
                                                                        i(class="ti-pencil-alt2")
                                                                    select(class="form-control" title="Tipo de empleado" data-toggle="tooltip" v-model="permisos")
                                                                        option(value=1) Administrador general 
                                                                        option(value=2) Gerente general
                                                                        option(value=3) Gerente de empresa / sucursal
                                                                        option(value=4) Recursos humanos
                                                                        option(value=5) Jurídico
                                                                        option(value=6) Auxiliares 
                                                                        option(value=7) Elementos
                                                            .col-12.col-sm-6.col-lg-4
                                                                .input-group
                                                                    span(class="input-group-addon")
                                                                        i(class="ti-world")
                                                                    select(class="form-control" title="Sucursal asiganda" data-toggle="tooltip" v-model="sucursal")
                                                                        option(:value="Sucursal.iddepartamento" v-for="Sucursal in sucursales") {{Sucursal.nombre}}
                                                            
                                                .card-header
                                                    .container.text-left
                                                        h3 Sesión <span> Datos de inicio de sessión
                                                .card-block(style="padding-bottom: 0% !important")
                                                    .container.text-center
                                                        .row
                                                            .col-12.col-sm-12.col-lg-4
                                                                .input-group
                                                                    span(class="input-group-addon")
                                                                        i(class="ti-id-badge")
                                                                    input(type="text" class="form-control" placeholder="Nombre único de usuario" title="Nombre único de usuario" data-toggle="tooltip" v-model="userName")
                                                    
                                                            .col-12.col-sm-6.col-lg-4
                                                                .input-group
                                                                    span(class="input-group-addon")
                                                                        i(class="ti-lock")
                                                                    input(type="password" class="form-control" placeholder="Contraseña" title="Contraseña" data-toggle="tooltip" v-model="password")
                                                     
                                                            .col-12.col-sm-6.col-lg-4
                                                                .input-group
                                                                    span(class="input-group-addon")
                                                                        i(class="ti-lock")
                                                                    input(type="password" class="form-control" placeholder="Repetir contraseña" title="Repetir contraseña" data-toggle="tooltip" id="repeat_pass")
                                                    

                                                .card-header
                                                    .container.text-left
                                                        .col-xs-12 
                                                            .flex-column
                                                                button(class="btn btn-primary" v-on:click="sendData") Registrar empleado
block scripts
    //- am chart 
    script(src="/vendors/assets/pages/widget/amchart/amcharts.min.js")
    script(src="/vendors/assets/pages/widget/amchart/serial.min.js")
    //- Todo js
    script(src="/vendors/assets/pages/todo/todo.js")
    //- Custom js
    script(src="/vendors/assets/pages/dashboard/custom-dashboard.js")
    script(src="/vendors/assets/js/script.js")
    script(src="/vendors/assets/js/SmoothScroll.js")
    script(src="/vendors/assets/js/pcoded.min.js")
    script(src="/vendors/assets/js/demo-12.js")
    script(src="/vendors/assets/js/jquery.mCustomScrollbar.concat.min.js")
    script(src="/javascripts/dashboard.js")

    //- SwEET ALERT
    script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11")

    //- VueJS Moduls
    script(src="https://cdn.jsdelivr.net/npm/vue@2.7.13/dist/vue.js")
    script(src="/javascripts/empleado.js")